/*SHARED*/
body{background: url(/images/bg.png);color: #333;font-family: "Segoe UI Light", "Segoe UI","Helvetica",Garuda,Arial,sans-serif;font-weight: 100;}
a{color: #36BCAB;text-decoration:none;}
a:hover{text-decoration: none; border-bottom:1px dotted;}
.disqus-count-text { display: none; }
.addthis_toolbox{border:none;}

/*HEADER*/
header{text-align:center;width: 840px;margin:auto;}
h1.title, h1.title a, h1.title a:visited, h1.title a:hover{font-size:48px;text-shadow: 2px 2px 2px #ddd;color:#333;text-decoration:none;margin:10px;border:none;}
span.subtitle{margin-top:0;text-shadow: 1px 1px 1px #CCC;}

/*CONTAINER*/
div.container{position: relative;box-shadow:0 25px 75px rgba(0,0,0,.3); background-color:White;width: 840px;margin:0 auto 60px auto;border-top:2px solid #36BCAB;margin-top:15px;}

/*HOME*/
div.home_posts{padding: 15px;}
div.index_meta{display:inline-block;width:600px;height:30px;padding: 3px 0 0 3px;}
div.index_meta div {float:left;margin-right: 35px;padding-left:20px;}
span.index_meta{font-size:13px;}
div.post_date{background:url("/images/dateIcon.gif") no-repeat scroll left 5px transparent;}
div.post_comments_count{background:url("/images/commentsIcon.gif") no-repeat scroll left 5px transparent;}

/*POST*/
div.single_post{padding:15px;}
h2.post_title{margin:20px 0px 0px;}
h2.post_title, h2.post_title a{text-decoration:none;color:#36BCAB;}
div.post_comments_count a{color:#333}
div#dsq-subscribe{display:none;}
div#comments{padding:0 15px 0 15px;}

/*CONTACT*/
div.contact_fixed{left:50%;top:200px;position:fixed;margin-left: 420px;height:150px;width:19px;z-index:5;}

/*CONTACT STYLE 1
.contact_fixed a:hover{border:none;text-transform:uppercase;}
.contact_fixed a span{display:block;visibility:hidden;min-width:152px;}
.contact_fixed a {background:url("/images/soc-icons.png") no-repeat scroll 0 0 transparent;display: block;font-size: 10px;font-weight: 700;height: 20px;line-height: 20px;margin-left: 133px;overflow: hidden;position: absolute;right: 0;text-decoration: none;text-transform: uppercase;width: 19px;}
.contact_fixed a.soc-me {background-color: #526CA5;background-position: 3px -15px;top: 20px;}
.contact_fixed a.soc-twitter {background-color: #75DDFE;background-position: 3px -36px;top: 40px;}
.contact_fixed a.soc-github {background-color: #C1C1C2;background-position: 3px -75px;top: 80px;}
.contact_fixed a.soc-rss {background-color: #F6A858;background-position: 3px -55px;top: 60px;}

/*CONTACT STYLE 2*/
.contact_fixed a{color:white;padding:0 2px 0 2px;}
.contact_fixed a:hover{border:none;}
.contact_fixed a.soc-me{background-color:rgba(0, 100, 0, 0.4);}
.contact_fixed a.soc-twitter{background-color:rgba(117, 221, 254, 0.4);}
.contact_fixed a.soc-github{background-color:rgba(0, 0, 0, 0.4);}
.contact_fixed a.soc-rss{background-color:rgba(246, 168, 88, 0.4);}

/*FOOTER*/
footer{border-top: 1px dashed #36BCAB;display: inline-block;margin:0 25px 0 25px;padding: 0 25px 45px;}
h3.widget_title{font-weight:bold;}
div#all_categories{float:left; width:200px;}
div#all_categories ul {padding: 0px;}
div#all_categories ul li{list-style:none;}
div#all_tags ul {padding: 0px;}
div#all_tags ul li {display:inline;margin:5px;}