body{background: url(/images/bg.png);color: #333;font-family: "Segoe UI";font-weight: lighter;}

/*TITLE*/
header{text-align:center;width: 840px;margin:auto;}
h1.title, h1.title a, h1.title a:visited{font-size:48px;text-shadow: 2px 2px 2px #ddd;color:#333;text-decoration:none;margin:10px;}
span.subtitle{margin-top:0;text-shadow: 1px 1px 1px #CCC;}

/*CONTAINER*/
div.container{width: 840px;margin:0 auto 60px auto;border-top:2px solid #36BCAB;margin-top:15px;}

/*ULTIMO POST*/
div.home_post{text-align:center;padding: 15px;}

/*POST*/
h2.post_title{margin-top:20px}
h2.post_title, h2.post_title a{text-align:left !important;text-decoration:none;color:#36BCAB;}
div.post_date{text-align:left !important;}
div.post_content{text-align:left !important;}

