header.main {
	text-align:center;
	width:840px; 
	margin:auto;
}

div.container {
	position:relative;
	box-shadow:0 25px 75px rgba(0,0,0,.3);
	background-color:White;
	width: 1000px;
	margin:0 auto 60px auto;
	border-top:2px solid #36BCAB;
	margin-top:15px;
}

section.pagination {
	margin: 50px auto 0px;
	width: 690px;
}

footer.main {
	display:inline-block;
	margin:30px 25px 0 25px;
	padding:0 25px 45px;
	width:781px;
}

aside.contact_fixed {
	left:50%;
	top:200px;
	position:fixed;
	margin-left:500px;
	height:150px;
	width:19px;
	z-index:5;
}

section#comments {
	margin:15px auto 0px;
	max-width: 100%;
}
