<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />		
		<link rel="stylesheet" href="/css/site.css" type="text/css"/>				
		<title>{{ page.title }}</title>		
	</head>	
	<body>
		<div id="page">
			<header>			
				<h1 class="title"><a href="/">Dyego Costa</a></h1>
				<span class="title_contents">{ .NET, pr&aacute;ticas, metodologias, novidades, princ&iacute;pios }</span>
			</header>			
			<div class="container">	
				<div id="content">
					<div class="page">
						{{content}}									
					</div>
					<div class="right_content">
						<h2>Próximos eventos</h2>
						<a href="http://www.caipiraagil.com/"><img src="/images/logo_caipira.png" /></a>					
						<a href="http://www.agilebrazil.com/2012/"><img src="/images/AgileBrazil-verde.png" /></a>						
						<a href="http://www.testday.com.br/"><img src="/images/alogo_testday.jpg" /></a>			
						
						<h2>Categorias</h2>
						<ul>
							<li>
								<a class="category" href="/all/">Todos os posts ({{ site.posts | size }})</a>
							</li>
							{% for category in site.categories %}
								<li>
									<a class="category" href="/categories/{{ category | first }}">{{ category | first }} ({{ category | last | size }})</a>
								</li>
							{% endfor %}
						</ul>
						
						<h2>Conheça</h2>
						<ul>
							<li>
								<a href="/about">Autor</a>
							</li>
							<li>
								<a href="http://team-room.github.com">TeamRoom</a>
							</li>							
						<ul>
						
						<h2>Pesquisa</h2>
						<form method="GET" action="http://www.google.com/search">
			              <input type="hidden" name="ie" value="UTF-8">
			              <input type="hidden" name="oe" value="UTF-8">
			              <input class="field" type="text" name="q" size="7" maxlength="255" value="" placeholder="Pesquisar...">
			              <input class="button" type="submit" name="btnG" value="Go" title="Search">
			              <input type="hidden" name="domains" value="dyegocosta.com">
			              <input type="hidden" name="sitesearch" value="">
			              <input type="hidden" name="sitesearch" value="dyegocosta.com">
			            </form>
					</div>
					<div class="contact_fixed">						
						<a href="http://github.com/dyegocosta" target="_blank" class="soc-github"><span>GitHub</span></a>
						<a href="http://twitter.com/dyegoscosta" target="_blank" class="soc-twitter"><span>@dyegoscosta</span></a>						
						<a href="http://feeds.feedburner.com/DyegoCosta" target="_blank" class="soc-rss"><span>RSS</span></a>
					</div>
				</div>				
				<footer>										
					<div id="all_tags">
						<h3 class="widget_title">Tags</h3>
						<ul>
						{% for tag in site.tags %}
							<li>
								<a href="/tags/{{ tag | first | map: 'to_liquid' | map: 'slug' }}">{{ tag | first | map: 'to_liquid' | map: 'title' }}</a>
							</li>
						{% endfor %}
						</ul>						
					</div>
				</footer>				
			</div>			
		</div>				
		<a href="http://github.com/dyegocosta/dyegocosta.github.com"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://a248.e.akamai.net/camo.github.com/5d21241b64dc708fcbb701f68f72f41e9f1fadd6/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f7265645f6161303030302e706e67" alt="Fork me on GitHub"></a>
		<script type="text/javascript">			
			var disqus_shortname = 'dyegocosta';
					
			(function () {
				var s = document.createElement('script'); 
				s.async = true;
				s.type = 'text/javascript';
				s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
				(document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
			}());
		</script>
		<script type="text/javascript">
  			var _gaq = _gaq || [];
  			_gaq.push(['_setAccount', 'UA-24989932-2']);
  			_gaq.push(['_trackPageview']);

  			(function() {
    				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  			})();
		</script>		
	</body>
</html>
