<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />		
		<title>{{ page.title }}</title>

		<!-- blog style -->
		<link rel="stylesheet" href="/css/site.css" type="text/css"/>
	</head>
	
	<body>
		<header>
			<h1 class="title"><a href="/">Dyego Costa</a></h1>
			<span class="title_contents">{ .NET, pr&aacute;ticas, metodologias, novidades, princ&iacute;pios }</span>
		</header>
		<div class="container">
			<div class="home_post">
				{{content}}			
			</div>	
		</div>
		<footer>
		</footer>				
	</body>
</html>
