---
layout: default
---
<div id="post" class="single_post">
	<h2 class="post_title">{{ page.title}}</h2>    	
	<div class="post_date">
        <span class="date">{{ page.date | date: "%d/%m/%Y" }}</span> - 
		<span class="livefyre-commentcount" data-lf-site-id="301845" data-lf-article-id="{{ page.article_id }}">0 Comments</span>
    </div>
	<div class="post_content">
		{{ content }}
	</div>
    <h3><a href="/">Voltar</a></h3>
</div>
<div id="coments">
	<div id="disqus_thread"></div>
	<script type="text/javascript">		
		var disqus_shortname = 'dyegocosta';
		var disqus_identifier = {{ page.article_id }};
		
		(function() {
			var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
			dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
			(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		})();
	</script>
	<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</div>